block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Tuxink
    block scripts
      
    //- link(rel="stylesheet" href="/reader.css")
    link(rel="stylesheet" href="/backgrounds.css")
    link(rel="stylesheet" href="/style.css")
  //- body.testfill
  body
    div#root
      block layout-content